@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@800&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@800&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@800&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@800&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
header {
  background-color: #549d88;
  margin: 0px;
  padding: 0px;
}
header a {
  color: #fbca46;
}
header a h1 {
  text-align: center;
  padding: 10px;
  font-family: "Catamaran", sans-serif;
}

footer {
  display: flex;
  flex-direction: row;
  background-color: #549d88;
  justify-content: space-between;
  padding: 20px;
}
footer a {
  font-family: "Poppins", sans-serif;
  color: #fbca46;
  /*a:hover {

  }*/
}

a.btn {
  font-family: "Poppins", sans-serif;
  display: block;
  width: fit-content;
  padding: 5px 20px;
  background-color: #549d88;
  color: #fbca46;
  border-radius: 7px;
  margin: 20px auto;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container .container__menus {
  -webkit-box-shadow: 0px 0px 11px 0px #737273;
  -moz-box-shadow: 0px 0px 11px 0px #737273;
  box-shadow: 0px 0px 11px 0px #737273;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 400px;
  margin: 20px;
  border-radius: 5px;
}

.container__menus--la_note_enchantee {
  background-color: #fbdfdb;
  text-align: center;
  color: #6c4747;
}
.container__menus--la_note_enchantee h2 {
  font-family: "Pacifico", cursive;
  font-weight: 300;
}
.container__menus--la_note_enchantee h3 {
  font-family: "Pacifico", cursive;
  font-size: 30px;
}

.container__menus--le_chic_à_la_française {
  background-color: #fef7fa;
  text-align: center;
}
.container__menus--le_chic_à_la_française h2 {
  font-family: "Prata", serif;
  background: -webkit-linear-gradient(0deg, #c87629, #af9dcb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container__menus--le_chic_à_la_française h3 {
  font-family: "Prata", serif;
  font-size: 30px;
  color: #c87629;
}

.container__menus--le_delice_des_papilles {
  background-color: #fafbfc;
  text-align: center;
}
.container__menus--le_delice_des_papilles h2 {
  font-family: "Dancing Script", cursive;
  font-size: 26px;
  background: -webkit-linear-gradient(0deg, #5262ad, #6b9bd2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container__menus--le_delice_des_papilles h3 {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  color: #5262ad;
}

.container__menus--la_palette_du_gout {
  background-color: #fffffe;
  text-align: center;
}
.container__menus--la_palette_du_gout h2 {
  background: -webkit-linear-gradient(0deg, #7fc566, #c2dc76);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Caveat", cursive;
  font-size: 26px;
}
.container__menus--la_palette_du_gout h3 {
  font-family: "Caveat", cursive;
  font-size: 30px;
  color: #7fc566;
}

.menu {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  width: 40%;
  height: 250px;
  text-align: center;
  padding: 30px;
}
.menu.menu--ledelicedespapilles {
  background-color: #fafbfc;
}
.menu.menu--ledelicedespapilles h1 {
  font-family: "Dancing Script", cursive;
  background: -webkit-linear-gradient(0deg, #5262ad, #6b9bd2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu.menu--ledelicedespapilles .menu__plat_price p {
  font-family: "Dancing Script", cursive;
  color: #5262ad;
}
.menu.menu--lechicalafrancaise {
  background-color: #fef7fa;
}

/*# sourceMappingURL=style.css.map */
