@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@800&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
header {
  background-color: #549d88;
  margin: 0px;
  padding: 0px;
}
header a {
  color: #fbca46;
}
header a h1 {
  text-align: center;
  padding: 10px;
  font-family: "Catamaran", sans-serif;
  margin: 0px;
}

footer {
  display: flex;
  flex-direction: row;
  background-color: #549d88;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
}
footer a {
  font-family: "Poppins", sans-serif;
  color: #fbca46;
}
footer a:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@-webkit-keyframes opacity-animation {
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
a.btn {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  width: fit-content;
  padding: 5px 20px;
  background-color: #549d88;
  color: #fbca46;
  border-radius: 7px;
  margin: 20px auto;
  min-width: 185px;
}
a.btn .dot.one {
  animation: opacity-animation 2s 0.66s ease-out infinite;
}
a.btn .dot.two {
  animation: opacity-animation 2s 1.32s ease-out infinite;
}
a.btn .dot.three {
  animation: opacity-animation 2s 2s ease-out infinite;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 60px;
}
.container .container__menus {
  box-shadow: 0px 0px 11px 0px #a5a4a5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 400px;
  margin: 20px;
  border-radius: 5px;
}

.container__menus {
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: 1.2s;
}
.container__menus:hover {
  filter: opacity(40%);
  transition: 1.2s;
  cursor: pointer;
}
.container__menus:hover h2 {
  transform: scale(1.2);
  transition: 1.2s;
}
.container__menus:hover h3 {
  transform: scale(1.2);
  transition: 1.2s;
}
.container__menus.lne {
  color: #6c4747;
  background-color: #fbe0da;
}
.container__menus.lne h2 {
  font-family: "Pacifico", cursive;
  transition: 1.2s;
  font-weight: 300;
  z-index: 1;
}
.container__menus.lne h3 {
  font-family: "Pacifico", cursive;
  font-size: 30px;
  z-index: 1;
}
.container__menus.lcalf {
  background-color: #fef5f9;
}
.container__menus.lcalf h2 {
  font-family: "Prata", serif;
  transition: 1.2s;
  background: -webkit-linear-gradient(0deg, #c87629, #af9dcb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container__menus.lcalf h3 {
  font-family: "Prata", serif;
  transition: 1.2s;
  font-size: 30px;
  color: #c87629;
}
.container__menus.lddp {
  background-color: #eeefef;
}
.container__menus.lddp h2 {
  font-family: "Dancing Script", cursive;
  transition: 1.2s;
  font-size: 26px;
  background: -webkit-linear-gradient(0deg, #3752a3, #6b9bd2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container__menus.lddp h3 {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  color: #3752a3;
}
.container__menus.lpdg {
  background-color: #f8f9fa;
}
.container__menus.lpdg h2 {
  background: -webkit-linear-gradient(0deg, #589d3f, #c2dc76);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 1.2s;
  font-family: "Caveat", cursive;
  font-size: 26px;
}
.container__menus.lpdg h3 {
  font-family: "Caveat", cursive;
  font-size: 30px;
  color: #589d3f;
}

.container--singlemenu {
  height: auto;
  text-align: center;
}
.container--singlemenu li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container--singlemenu span {
  font-weight: bolder;
}
.container--singlemenu .menu {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  width: 40%;
  height: auto;
  text-align: center;
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.container--singlemenu h2 {
  margin-top: 50px;
}
.container--singlemenu h4 {
  font-size: 24px;
  min-width: 35%;
}
.container--singlemenu.ldp {
  font-family: "Dancing Script", cursive;
}
.container--singlemenu.ldp h3 {
  background: -webkit-linear-gradient(0deg, #3752a3, #6b9bd2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container--singlemenu.ldp h4 {
  font-family: "Dancing Script", cursive;
}
.container--singlemenu.ldp .menu {
  background-color: #ededed;
  color: black;
}
.container--singlemenu.ldp .menu--title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container--singlemenu.ldp .menu--title .bar {
  height: 5px;
  margin: auto;
  width: -webkit-fill-available;
  min-width: 107px;
  border-radius: 80%;
  background: #6b9bd2;
}
.container--singlemenu.ldp .menu--title .bar2 {
  height: 5px;
  margin: auto;
  width: -webkit-fill-available;
  min-width: 107px;
  border-radius: 80%;
  background: #325a87;
}
.container--singlemenu.ldp .menu--title .bar3 {
  height: 5px;
  margin: auto;
  width: -webkit-fill-available;
  min-width: 107px;
  border-radius: 80%;
  background: #193658;
}
.container--singlemenu.ldp .menu--title h4 {
  padding: 10px;
}
.container--singlemenu.ldp .menu--title h4.blue1 {
  cursor: pointer;
  min-width: 30%;
  position: relative;
  padding-bottom: 7px;
}
.container--singlemenu.ldp .menu--title h4.blue1::after {
  content: "";
  width: 0%;
  height: 3px;
  position: absolute;
  bottom: 0%;
  left: 0%;
  transition: all 500ms ease;
  border-radius: 10px;
  background-color: #6b9bd2;
}
.container--singlemenu.ldp .menu--title h4.blue1:hover::after {
  left: 0%;
  width: 100%;
}
.container--singlemenu.ldp .menu--title h4.blue2 {
  cursor: pointer;
  min-width: 30%;
  position: relative;
  padding-bottom: 7px;
}
.container--singlemenu.ldp .menu--title h4.blue2::after {
  content: "";
  width: 0%;
  height: 3px;
  position: absolute;
  bottom: 0%;
  left: 0%;
  transition: all 500ms ease;
  border-radius: 10px;
  background-color: #325a87;
}
.container--singlemenu.ldp .menu--title h4.blue2:hover::after {
  left: 0%;
  width: 100%;
}
.container--singlemenu.ldp .menu--title h4.blue3 {
  cursor: pointer;
  min-width: 30%;
  position: relative;
  padding-bottom: 7px;
}
.container--singlemenu.ldp .menu--title h4.blue3::after {
  content: "";
  width: 0%;
  height: 3px;
  position: absolute;
  bottom: 0%;
  left: 0%;
  transition: all 500ms ease;
  border-radius: 10px;
  background-color: #193658;
}
.container--singlemenu.ldp .menu--title h4.blue3:hover::after {
  left: 0%;
  width: 100%;
}
.container--singlemenu.lne h2 {
  font-family: "Dancing Script", cursive;
}
.container--singlemenu.lne .menu {
  background-color: #fbe0da;
  color: #6c4747;
  font-family: "Dancing Script", cursive;
}
.container--singlemenu.lne .menu img {
  height: 80px;
  width: auto;
}
.container--singlemenu.lne .menu img.img_titre {
  height: 40px;
  width: auto;
  margin-bottom: -15px;
  margin-right: 15px;
}
.container--singlemenu.lne .menu .menu--title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container--singlemenu.lne .menu .menu--title .bar {
  height: 5px;
  margin: auto;
  width: -webkit-fill-available;
  min-width: 107px;
  border-radius: 80%;
  background: #6c4747;
}
.container--singlemenu.lne .menu .menu--title h4 {
  min-width: 35%;
  position: relative;
  padding-bottom: 7px;
  cursor: pointer;
}
.container--singlemenu.lne .menu .menu--title h4::after {
  content: "";
  width: 0%;
  height: 3px;
  position: absolute;
  bottom: 0%;
  left: 0%;
  transition: all 500ms ease;
  border-radius: 10px;
  background-color: #6c4747;
}
.container--singlemenu.lne .menu .menu--title h4:hover::after {
  left: 0%;
  width: 100%;
}
.container--singlemenu.lcaf h2 {
  font-family: "Prata", serif;
}
.container--singlemenu.lcaf .menu {
  background-color: #fef5f9;
  font-family: "Prata", serif;
}
.container--singlemenu.lcaf .menu h3 {
  background: -webkit-linear-gradient(0deg, #c87629, #af9dcb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
}
.container--singlemenu.lcaf .menu .bar {
  height: 5px;
  margin: auto;
  width: -webkit-fill-available;
  min-width: 107px;
  border-radius: 80%;
  background: #c87629;
}
.container--singlemenu.lcaf .menu .bar2 {
  height: 5px;
  margin: auto;
  width: -webkit-fill-available;
  min-width: 107px;
  border-radius: 80%;
  background: #3752a3;
}
.container--singlemenu.lcaf .menu .bar3 {
  height: 5px;
  margin: auto;
  width: -webkit-fill-available;
  min-width: 107px;
  border-radius: 80%;
  background: #af9dcb;
}
.container--singlemenu.lcaf .menu .menu__toptiers {
  color: #c87629;
}
.container--singlemenu.lcaf .menu .menu__middletiers {
  color: #3752a3;
}
.container--singlemenu.lcaf .menu .menu__bottomtiers {
  color: #af9dcb;
}
.container--singlemenu.lcaf .menu .menu--title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container--singlemenu.lcaf .menu .menu--title h4 {
  font-size: 18px;
  padding: 5px;
  cursor: pointer;
  min-width: 30%;
  position: relative;
  padding-bottom: 7px;
}
.container--singlemenu.lcaf .menu .menu--title h4.purple::after {
  content: "";
  width: 0%;
  height: 3px;
  position: absolute;
  bottom: 0%;
  left: 0%;
  transition: all 500ms ease;
  border-radius: 10px;
  background-color: #af9dcb;
}
.container--singlemenu.lcaf .menu .menu--title h4.purple:hover::after {
  left: 0%;
  width: 100%;
}
.container--singlemenu.lcaf .menu .menu--title h4.blue::after {
  content: "";
  width: 0%;
  height: 3px;
  position: absolute;
  bottom: 0%;
  left: 0%;
  transition: all 500ms ease;
  border-radius: 10px;
  background-color: #3752a3;
}
.container--singlemenu.lcaf .menu .menu--title h4.blue:hover::after {
  left: 0%;
  width: 100%;
}
.container--singlemenu.lcaf .menu .menu--title h4.gold::after {
  content: "";
  width: 0%;
  height: 3px;
  position: absolute;
  bottom: 0%;
  left: 0%;
  transition: all 500ms ease;
  border-radius: 10px;
  background-color: #c87629;
}
.container--singlemenu.lcaf .menu .menu--title h4.gold:hover::after {
  left: 0%;
  width: 100%;
}
.container--singlemenu.lpdg {
  font-family: "Caveat", cursive;
}
.container--singlemenu.lpdg .menu {
  background-color: #eeefef;
}
.container--singlemenu.lpdg .menu h3 {
  font-size: 25px;
  margin-top: 0px;
}
.container--singlemenu.lpdg .menu .bar {
  height: 5px;
  margin: auto;
  width: -webkit-fill-available;
  min-width: 107px;
  border-radius: 80%;
  background: -webkit-linear-gradient(0deg, #589d3f, #c2dc76);
}
.container--singlemenu.lpdg .menu .bar.rot {
  transform: rotate(180deg);
}
.container--singlemenu.lpdg .menu h1 {
  background: -webkit-linear-gradient(0deg, #589d3f, #c2dc76);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container--singlemenu.lpdg .menu li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container--singlemenu.lpdg .menu span {
  font-weight: bolder;
}
.container--singlemenu.lpdg .menu .menu--title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container--singlemenu.lpdg .menu .menu--title h4 {
  cursor: pointer;
  min-width: 30%;
  position: relative;
  padding-bottom: 7px;
  padding: 10px;
}
.container--singlemenu.lpdg .menu .menu--title h4::after {
  content: "";
  width: 0%;
  height: 3px;
  position: absolute;
  bottom: 0%;
  left: 0%;
  transition: all 500ms ease;
  border-radius: 10px;
  background-color: #589d3f;
}
.container--singlemenu.lpdg .menu .menu--title h4:hover::after {
  left: 0%;
  width: 100%;
}

.dot {
  height: 10px;
  width: 10px;
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 50%;
  background-color: #fbca46;
  transition: transform 100ms ease-in-out;
}

body {
  min-height: 1160px;
  width: 100%;
}

@media screen and (min-width: 200px) and (max-width: 1000px) {
  .container {
    margin: 0px;
    width: 100%;
  }

  a.btn {
    margin-bottom: 100px;
  }

  .container--singlemenu {
    padding-bottom: 50px;
  }
  .container--singlemenu .menu {
    width: 65%;
    padding: 23px;
    width: 80%;
  }

  ul {
    padding: 0;
  }

  li {
    text-align: left;
    padding-bottom: 15px;
  }
  li span {
    padding-left: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
