@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@800&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
header {
  background-color: #549d88;
  margin: 0px;
  padding: 0px;
}
header a {
  color: #fbca46;
}
header a h1 {
  text-align: center;
  padding: 10px;
  font-family: "Catamaran", sans-serif;
}

footer {
  display: flex;
  flex-direction: row;
  background-color: #549d88;
  justify-content: space-between;
  padding: 20px;
}
footer a {
  font-family: "Poppins", sans-serif;
  color: #fbca46;
}
footer a:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

a.btn {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  width: fit-content;
  padding: 5px 20px;
  background-color: #549d88;
  color: #fbca46;
  border-radius: 7px;
  margin: 20px auto;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container .container__menus {
  -webkit-box-shadow: 0px 0px 11px 0px #737273;
  -moz-box-shadow: 0px 0px 11px 0px #737273;
  box-shadow: 0px 0px 11px 0px #737273;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 400px;
  margin: 20px;
  border-radius: 5px;
}

.container__menus--la_note_enchantee {
  text-align: center;
  color: #6c4747;
  position: relative;
}
.container__menus--la_note_enchantee .container__menus.container__menus--la_note_enchantee--background {
  background: linear-gradient(183deg, rgba(255, 255, 255, 0.4769258045) 0%, rgba(255, 255, 255, 0.504937009) 100%), url("../Ressources/Images/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  margin: 0px;
  transition: filter 700ms;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  position: absolute;
  z-index: -2;
}
.container__menus--la_note_enchantee .container__menus.container__menus--la_note_enchantee--background:hover {
  cursor: pointer;
  z-index: 100;
  filter: blur(5px);
}
.container__menus--la_note_enchantee h2 {
  font-family: "Pacifico", cursive;
  font-weight: 300;
  z-index: 1;
}
.container__menus--la_note_enchantee h3 {
  font-family: "Pacifico", cursive;
  font-size: 30px;
  z-index: 1;
}

.container__menus--le_chic_à_la_française {
  text-align: center;
  position: relative;
}
.container__menus--le_chic_à_la_française .container__menus.container__menus--le_chic_à_la_française {
  background: linear-gradient(183deg, rgba(255, 255, 255, 0.4769258045) 0%, rgba(255, 255, 255, 0.504937009) 100%), url("../Ressources/Images/2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  margin: 0px;
  transition: filter 700ms;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  position: absolute;
  z-index: -2;
}
.container__menus--le_chic_à_la_française .container__menus.container__menus--le_chic_à_la_française:hover {
  cursor: pointer;
  z-index: 1;
  filter: blur(5px);
}
.container__menus--le_chic_à_la_française h2 {
  font-family: "Prata", serif;
  background: -webkit-linear-gradient(0deg, #c87629, #af9dcb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container__menus--le_chic_à_la_française h3 {
  font-family: "Prata", serif;
  font-size: 30px;
  color: #c87629;
}

.container__menus--le_delice_des_papilles {
  text-align: center;
  position: relative;
}
.container__menus--le_delice_des_papilles .container__menus.container__menus--le_delice_des_papilles {
  background: linear-gradient(183deg, rgba(255, 255, 255, 0.4769258045) 0%, rgba(255, 255, 255, 0.504937009) 100%), url("../Ressources/Images/3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  margin: 0px;
  transition: filter 700ms;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  position: absolute;
  z-index: -2;
}
.container__menus--le_delice_des_papilles .container__menus.container__menus--le_delice_des_papilles:hover {
  cursor: pointer;
  z-index: 1;
  filter: blur(5px);
}
.container__menus--le_delice_des_papilles h2 {
  font-family: "Dancing Script", cursive;
  font-size: 26px;
  background: -webkit-linear-gradient(0deg, #5262ad, #6b9bd2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container__menus--le_delice_des_papilles h3 {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  color: #5262ad;
}

.container__menus--la_palette_du_gout {
  text-align: center;
  position: relative;
}
.container__menus--la_palette_du_gout .container__menus.container__menus--la_palette_du_gout {
  background: linear-gradient(183deg, rgba(255, 255, 255, 0.4769258045) 0%, rgba(255, 255, 255, 0.504937009) 100%), url("../Ressources/Images/4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  margin: 0px;
  transition: filter 700ms;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  position: absolute;
  z-index: -2;
}
.container__menus--la_palette_du_gout .container__menus.container__menus--la_palette_du_gout:hover {
  z-index: 1;
  filter: blur(5px);
}
.container__menus--la_palette_du_gout h2 {
  background: -webkit-linear-gradient(0deg, #7fc566, #c2dc76);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Caveat", cursive;
  font-size: 26px;
}
.container__menus--la_palette_du_gout h3 {
  font-family: "Caveat", cursive;
  font-size: 30px;
  color: #7fc566;
}

.menu {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  width: 40%;
  height: auto;
  text-align: center;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.menu.menu--lanoteenchantee {
  background-color: #fafbfc;
  color: #5262ad;
  font-family: "Dancing Script", cursive;
}
.menu.menu--lanoteenchantee h1 {
  background: -webkit-linear-gradient(0deg, #5262ad, #6b9bd2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu.menu--lanoteenchantee li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu.menu--lanoteenchantee span {
  font-weight: bolder;
}
.menu.menu--lechicalafrancaise {
  background-color: #fef7fa;
  color: #c87629;
  font-family: "Prata", serif;
}
.menu.menu--lechicalafrancaise li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu.menu--lechicalafrancaise span {
  font-weight: bolder;
}
.menu.menu--lapalettedugout {
  background-color: #fffffe;
  color: #7fc566;
  font-family: "Caveat", cursive;
}
.menu.menu--lapalettedugout li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu.menu--lapalettedugout span {
  font-weight: bolder;
}
.menu.menu--ledelicedespapilles {
  background-color: #ededed;
  color: black;
  font-family: "Dancing Script", cursive;
}
.menu.menu--ledelicedespapilles h1 {
  background: -webkit-linear-gradient(0deg, #5262ad, #6b9bd2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu.menu--ledelicedespapilles li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu.menu--ledelicedespapilles span {
  font-weight: bolder;
}

.dot {
  height: 10px;
  width: 10px;
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 50%;
  background-color: #fbca46;
}

/*# sourceMappingURL=style.css.map */
