.container {
    @include center_element();
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 60px;
    .container__menus {
        @include shadow_box();
        @include vertical_flex();
        justify-content: center;
        width: 400px;
        height: 400px;
        margin: 20px;
        @include border-radius();
        }
}