header{
    background-color: $header_footer_color;
    margin: 0px;
    padding: 0px;
    a {
        color: $header_font_color;
        h1 {
            text-align: center;
            padding: 10px;
            font-family: 'Catamaran', sans-serif;
            margin: 0px;
        }
    }
}