.container__menus{
        @include text_center();
        position: relative;
        overflow: hidden;
        transition: 1.2s;
        &:hover{
            filter: opacity(40%);
            transition: 1.2s;
            cursor: pointer;
            h2{
                transform: scale(1.2);
                transition: 1.2s;
            }
            h3{
                transform: scale(1.2);
                transition: 1.2s;
            }
        }
            &.lne{
                img{
                    height: 80px;
                    width: 80px;
                    margin-left: auto;
                    margin-right: auto;
                }
                color: $font_brown;
                background-color: $salmon;
                h2{
                    @include Pacifico();
                    transition: 1.2s;
                    font-weight: 300;
                    z-index: 1;}
                h3{
                    @include Pacifico();
                    @include bigger_menu_title();
                    z-index: 1;}
            }
            &.lcalf{
                background-color: $light_pink;
                h2{
                    @include Prata();
                    transition: 1.2s;
                    @include gold_purple_gradient_text();}
                h3{
                    @include Prata();
                    transition: 1.2s;
                    @include bigger_menu_title();
                    color: $font_gold_orange;}
                }
            &.lddp{
                background-color: $light_blue;
                h2{
                    @include Dancing_Script();
                    transition: 1.2s;
                    font-size: 26px;
                    @include blue_gradient_text();}
                h3{
                    @include Dancing_Script();
                    @include bigger_menu_title();
                    color: $font_lavande;}
                }
            &.lpdg{
                background-color: $white;
                h2{
                    @include green_gradient_text();
                    transition: 1.2s;
                    @include Caveat();
                    font-size: 26px;
                }
                h3{
                    @include Caveat();
                    @include bigger_menu_title();
                    color: $font_green;
                }
            }     
}