@include keyframe--dots();
a.btn {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    width: fit-content;
    padding: 5px 20px;
    background-color: $header_footer_color;
    color: $header_font_color;
    border-radius: 7px;
    margin: 20px auto;
    
        .dot.one{
          animation: opacity-animation 2s 0.66s ease-out infinite;
          
        }
        .dot.two{
          animation: opacity-animation 2s 1.32s ease-out infinite;
          
        }
        .dot.three{
          animation: opacity-animation 2s 2s ease-out infinite;
          
        }
      
    }