@-webkit-keyframes opacity-animation {
    25%   { opacity: 0; }
    100% { opacity: 1; }
    animation-delay: 0s;
  }

a.btn {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    width: fit-content;
    padding: 5px 20px;
    background-color: $header_footer_color;
    color: $header_font_color;
    border-radius: 7px;
    margin: 20px auto;
    &:hover {
        .dot.one{
          animation: opacity-animation 2s 0.66s ease-out infinite;
        }
        
        .dot.two{
          animation: opacity-animation 2s 1.32s ease-out infinite;
        }
        .dot.three{
          animation: opacity-animation 2s 2s ease-out infinite;
        }
      }
    }


/* @-webkit-keyframes opacity-animation {
  25%   { opacity: 0; }
  100% { opacity: 1; }
  animation-delay: 0s;
}

body{
  height: 1000px;
  width: 100%;
  color: blue;
}
.btn{
  height: 50px;
  width: 200px;
  background: #78DCB1;
  border-radius: 10px;
  display: block;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  cursor: pointer;
  &:hover {
    .dot.one{
      animation: opacity-animation 2s 0.66s ease-out infinite;
    }
    
    .dot.two{
      animation: opacity-animation 2s 1.32s ease-out infinite;
    }
    .dot.three{
      animation: opacity-animation 2s 2s ease-out infinite;
    }
  }
}
.dot{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: yellow;
  margin-top: auto;
  margin-bottom: auto;

}
*/