.container__menus{
        @include text_center();
        position: relative;
        overflow: hidden;
        &:hover .container__menus--background{
            filter: blur(5px);
            transform: scale(1.2);
            transition: 1.2s;
        }
            &.lne{
                color: $font_brown;
                background-size: cover;
                h2{
                    @include Pacifico();
                    font-weight: 300;
                    z-index: 1;}
                h3{
                    @include Pacifico();
                    @include bigger_menu_title();
                    z-index: 1;}
            }
            &.lcalf{
                h2{
                    @include Prata();
                    @include gold_purple_gradient_text();}
                h3{
                    @include Prata();
                    @include bigger_menu_title();
                    color: $font_gold_orange;}
                }
            &.lddp{
                h2{
                    @include Dancing_Script();
                    font-size: 26px;
                    @include blue_gradient_text();}
                h3{
                    @include Dancing_Script();
                    @include bigger_menu_title();
                    color: $font_lavande;}
                }
            &.lpdg{
                h2{
                    @include green_gradient_text();
                    @include Caveat();
                    font-size: 26px;
                }
                h3{
                    @include Caveat();
                    @include bigger_menu_title();
                    color: $font_green;
                }
            }
                    .container__menus--background{
                        @include background-image();
                        transition: 1.2s;
                        &.lne{
                            background-image: linear-gradient(183deg, rgba(255,255,255,0.47692580450148814) 0%, rgba(255,255,255,0.5049370089832808) 100%), url('../Ressources/Images/1.jpg');}
                        &.lcalf{
                            background-image: linear-gradient(183deg, rgba(255,255,255,0.47692580450148814) 0%, rgba(255,255,255,0.5049370089832808) 100%), url('../Ressources/Images/2.jpg');}
                        &.lddp{
                            background-image: linear-gradient(183deg, rgba(255,255,255,0.47692580450148814) 0%, rgba(255,255,255,0.5049370089832808) 100%), url('../Ressources/Images/3.jpg');}
                        &.lpdg{
                            background-image: linear-gradient(183deg, rgba(255,255,255,0.47692580450148814) 0%, rgba(255,255,255,0.5049370089832808) 100%), url('../Ressources/Images/4.jpg');}
                    }
}


        /*&:hover{
            cursor: pointer;
            
            filter: blur(5px);
        }*/

    /*:hover{
        .container__menus--le_chic_à_la_française--background{
            filter: blur(5px);
            transform: scale(1.2);
        }*/


