.container__menus--la_note_enchantee{
        @include text_center();
        color: $font_brown;
        position: relative;
        .container__menus.container__menus--la_note_enchantee--background{
            background: linear-gradient(183deg, rgba(255,255,255,0.47692580450148814) 0%, rgba(255,255,255,0.5049370089832808) 100%), url('../Ressources/Images/1.jpg');
            @include background-image();
            &:hover{
                cursor: pointer;
                z-index: 100;
                filter: blur(5px);
                background-size: 150%;
                }
            } 
            h2{
                @include Pacifico();
                font-weight: 300;
                z-index: 1;
            }
            h3{
                @include Pacifico();
                @include bigger_menu_title();
                z-index: 1;
                &:hover + .container__menus--la_note_enchantee--background{
                    
                    filter: blur(5px);
                    scale: 1.5;
                }
            }       
}
.container__menus--le_chic_à_la_française{
    @include text_center();
        position: relative;
    .container__menus.container__menus--le_chic_à_la_française{
        background: linear-gradient(183deg, rgba(255,255,255,0.47692580450148814) 0%, rgba(255,255,255,0.5049370089832808) 100%), url('../Ressources/Images/2.jpg');
        @include background-image();
        &:hover{
            cursor: pointer;
            z-index: 1;
            filter: blur(5px);
        }
    }
    h2{
        @include Prata();
        @include gold_purple_gradient_text();
    }
    h3{
        @include Prata();
        @include bigger_menu_title();
        color: $font_gold_orange;
    }
}
 
.container__menus--le_delice_des_papilles{
    @include text_center();
        position: relative;
    .container__menus.container__menus--le_delice_des_papilles{
        background: linear-gradient(183deg, rgba(255,255,255,0.47692580450148814) 0%, rgba(255,255,255,0.5049370089832808) 100%), url('../Ressources/Images/3.jpg');
        @include background-image();
        &:hover{
            cursor: pointer;
            z-index: 1;
            filter: blur(5px);
        }
    }
    
    h2{
        @include Dancing_Script();
        font-size: 26px;
        @include blue_gradient_text();
    }
    h3{
        @include Dancing_Script();
        @include bigger_menu_title();
        color: $font_lavande;
    }
} 
.container__menus--la_palette_du_gout{
    @include text_center();
    position: relative;
    .container__menus.container__menus--la_palette_du_gout{
        background: linear-gradient(183deg, rgba(255,255,255,0.47692580450148814) 0%, rgba(255,255,255,0.5049370089832808) 100%), url('../Ressources/Images/4.jpg');
        @include background-image();
        &:hover{
            z-index: 1;
            filter: blur(5px);
        }
    }
 
    h2{
        @include green_gradient_text();
        @include Caveat();
        font-size: 26px;
    }
    h3{
        @include Caveat();
        @include bigger_menu_title();
        color: $font_green;
    }
}

//Partie page menu 

.menu {
    @include center_element();
    @include border-radius();
    width: 40%;
    height: auto;
    text-align: center;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    
    &.menu--lanoteenchantee {
        background-color: $salmon;
        color: $font_brown;
        @include Dancing_Script();
        img{
            height: 80px;
            width: auto;
        }
        .menu--title{
            @include title--menu();
            .bar{
                @include title--bar();
                background: $font_brown;
            }
            h2{
                min-width: 30%;
                position: relative;
                padding-bottom: 7px;
                &::after{
                    content: '';
                    width: 0%;
                    height: 3px;
                    background-color: $font_brown;
                    position: absolute;
                    bottom: 0%; left: 0%;
                    transition: all 500ms ease;
                    border-radius: 10px;
                }
                &:hover::after{
                    left:0%;
                    width: 100%;
                }
            }
        }
        li{
            @include list();
        }
        span{
            font-weight: bolder;
        }
    }

    &.menu--lechicalafrancaise {
        background-color: $salmon;
        color: $font_brown;
        @include Prata();
        .menu--title{
            @include title--menu();
            .bar{
                @include title--bar();
                background: $font_brown;
                h1{
                    @include gold_purple_gradient_text();
                }
            }
            
            h2{
                min-width: 30%;
                position: relative;
                padding-bottom: 7px;
                &::after{
                    content: '';
                    width: 0%;
                    height: 3px;
                    background-color: $font_brown;
                    position: absolute;
                    bottom: 0%; left: 0%;
                    transition: all 500ms ease;
                    border-radius: 10px;
                }
                &:hover::after{
                    left:0%;
                    width: 100%;
                }
            }
        }
        
        
        li{
            @include list();
        }
        span{
            font-weight: bolder;
        }
    }

    &.menu--lapalettedugout{
        background-color: $white;
        color: $font_green;
        @include Caveat();
        li{
            @include list();
        }
        span{
            font-weight: bolder;
        }
    }

    &.menu--ledelicedespapilles{
        background-color: $grey;
        color: black;
        @include Dancing_Script();
        h1{
            @include blue_gradient_text();
        }
        li{
            @include list();
        }
        span{
            font-weight: bolder;
        }
    }
}
