$salmon: #fbe0da;
$light_pink: #fef5f9;
$light_blue: #eeefef;
$white: #f8f9fa;
$header_footer_color: #549d88;
$grey: #ededed;

$header_font_color: #fbca46;
$font_brown: #6c4747;
$font_gold_orange: #c87629;
$font_lavande: #3752a3;
$font_lavande_light: #6b9bd2;
$font_green: #589d3f;
$font_green_light: #c2dc76;
$font_purple: #af9dcb;
$blue2: #325a87;
$blue3: #193658;