@import '../variables/variables';

@mixin center_element{
    margin-left: auto;
    margin-right: auto;
}
@mixin border-radius{
    border-radius: 5px;
}
@mixin horizontal_flex{
    display: flex;
    flex-direction: row;
}
@mixin vertical_flex{
    display: flex;
    flex-direction: column;
}
@mixin shadow_box{
    -webkit-box-shadow: 0px 0px 11px 0px rgba(115,114,115,1);
    -moz-box-shadow: 0px 0px 11px 0px rgba(115,114,115,1);
    box-shadow: 0px 0px 11px 0px rgba(115,114,115,1);
}
@mixin text_center{
    text-align: center;
}
@mixin Pacifico{
    font-family: 'Pacifico', cursive;
}
@mixin Prata{
    font-family: 'Prata', serif;
}
@mixin Dancing_Script{
    font-family: 'Dancing Script', cursive;
}
@mixin Caveat{
    font-family: 'Caveat', cursive;
}
@mixin bigger_menu_title{
    font-size: 30px;
}

@mixin gold_purple_gradient_text{
    background: -webkit-linear-gradient(0deg, $font_gold_orange, $font_purple);
    -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}
@mixin blue_gradient_text{
    background: -webkit-linear-gradient(0deg, $font_lavande, $font_lavande_light);
    -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}
@mixin green_gradient_text{
    background: -webkit-linear-gradient(0deg, $font_green, $font_green_light);
    -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}
@mixin background-image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
//object-fit:cover;
//balise pictures
// transition: transform-scale(1.5);